.navbar{
  box-shadow: $shad;
  width: 100%;
  background-color: $clr--white;
}

.main-nav{
  display: flex;
  justify-content: space-between;
  padding: 10px 14px 10px 10px;
  align-items: center;
}

.back{
  order: -1;
  // background: chocolate;
  transform: translateY(5%);
}

.avatar{
  // background: chocolate;
  transform: translateY(6%);
}